h1 {
    font-size: 2.0em;
    font-family: "Georgia";
}
p {
    font-size: 1.2em;
    font-family: "Georgia";
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
body {
    background-color: #f9faeb;
  }
img {
    width: 500%;
    height: 500%;
}